*{
    padding: 0;
    margin: 0;
    /* height: 100vh; */
  }
body{
    background-color: #DDC8B1;
    height: 100vh;
}

#logo 
{
    width: 6rem;
}

#idProfile 
{
    width: 50px;
    height: 50px;
}

#p{
    width: 80rem;
    height: 30rem;
}


/* start card */
.card {
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  
  }
  .card-title {
    font-weight:bold;
    text-align: center;
  }
  
.cards
{
  width: 18rem;
  height:27rem;
}

#cove{
  margin-right: 7rem;
  margin-left: 7rem;
  background-image: url(../../images/imageTest/book3.png);
  height: 20rem;
  background-size: cover;
  background-position: center;
  padding-right: 2%;
}

#textCov
{
  /* margin-right: 7rem;   */
   margin-left: 2rem;  
  width: 100rem;
}
.tit{
  color:#D09A5E ;
}

.navProfile{
  margin-right:4.3rem ;
}


.back
{
  background-image: url(../../images/backgBook.jpg);
  background-size: cover;
  background-position: center;
}

.table
{
  width: 3rem;
}